html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
}

p {
    font-size: 1.9rem;
    color: $primary-font;
}

h1 {
    font-size: 5rem;
}

a {
    text-decoration: none;
    color: $red;
    transition: all 300ms ease-in-out;
}